
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0029ff;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
    background-color: yellow;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/Hourglass.jpeg");
    background-size: 10%;
}

.countdown {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}
